<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/main.css">
    <link rel="stylesheet" href="../public/styles/dashboard.css">
    <title>dashboard</title>
</head>

<body>
    <div class="container">
        <%- include('../partials/navbar') %>
            <main class="main">
                <h1 class="page-title">Warehouse dashboard</h1>
                <ul class="table-menu">
                    <li class="table-menu-item"><a href="#">orders</a></li>
                    <li class="table-menu-item"><a href="/dashboard/products">products</a></li>
                    <li class="table-menu-item"><a href="#">product categories</a></li>
                    <li class="table-menu-item"><a href="#">product brands</a></li>
                </ul>
            </main>
    </div>
    <%- include('../partials/footer') %>
        <script src="https://kit.fontawesome.com/f2431a56cd.js" crossorigin="anonymous"></script>
        <script src="../public/scripts/navbar.js"></script>
</body>

</html>