<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/main.css">
    <link rel="stylesheet" href="../public/styles/form.css">
    <title>login</title>
</head>

<body>
    <div class="container">
        <%- include('../partials/navbar') %>
            <main class="main">
                <form action="/user/login" method="POST" class="form">
                    <h2 class="form-title">LOGIN</h2>

                    <% if (messages.error) { %>
                        <section class="form-wrapper">
                            <p class="form-message-error">
                                <%= messages.error %>
                            </p>
                        </section>
                        <% } %>
                            <% if (messages.success) { %>
                                <section class="form-wrapper">
                                    <p class="form-message-success">
                                        <%= messages.success %>
                                    </p>
                                </section>
                                <% } %>
                                    <section class="form-wrapper">
                                        <label for="email" class="form-label">email</label>
                                        <input type="email" name="email" id="email" required class="form-input" />
                                    </section>
                                    <section class="form-wrapper">
                                        <label for="password" class="form-label">password</label>
                                        <input type="password" name="password" id="password" required
                                            class="form-input" />
                                    </section>
                                    <section class="form-wrapper">
                                        <button type="submit" class="form-button">Login</button>
                                    </section>
                                    <p class="form-link">Don't have an account? <a href="/user/register">register</a>
                                    </p>
                </form>
            </main>

    </div>
    <%- include('../partials/footer') %>
        <script src="https://kit.fontawesome.com/f2431a56cd.js" crossorigin="anonymous"></script>
        <script src="../public/scripts/navbar.js"></script>
</body>

</html>