<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/main.css">
    <title>user</title>
</head>

<body>
    <div class="container">
        <%- include('../partials/navbar') %>
            <main class="main">
                <% if(user){ %>
                    <h1>hi, <%= user.user_first_name %>
                    </h1>
                    <% } %>
            </main>

    </div>
    <%- include('../partials/footer') %>
        <script src="https://kit.fontawesome.com/f2431a56cd.js" crossorigin="anonymous"></script>
</body>

</html>